/* Start My Frame Work */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-transform: capitalize;
    font-family: arial;
}

input {
    outline: none
}

a {
    text-decoration: none;
    color: #fff
}

body {
    background: linear-gradient(#200016, #10001f);
    height: 100vh
}

:root {
    --trans: .4s
}

.bars {
    position: fixed;
    top: 26px;
    right: 25px;
    width: fit-content;
    cursor: pointer;
    display: none !important;
    z-index: 9
}

.bars span {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9
}

.bars span:nth-child(2) {
    top: 6px
}

.bars span:last-of-type {
    top: 12px
}

/* End My Frame Work */

/* Strat Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 0 5px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center
}


header nav ul li a {
    padding: 5px 10px;
    transition: var(--trans);
    border-radius: 20px;
    font-weight: bold
}

header nav ul li a:hover {

    background: #fff;
    color: #200016
}

/* End Header*/

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.main::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, #200016, transparent)
}

.main img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover
}

#moon {
    mix-blend-mode: screen;
    transform: translateY(65px);
    width: 95%
}

.main h3 {
    color: #fff;
    font-size: 16px;
    transform: translateY(-150px)
}

.content {
    color: #fff;
    padding: 20px
}

.content h3 {
    margin: 15px;
    font-size: 20px;
    width: fit-content;
    border-bottom: 2px solid #fff
}

.content p {

    margin: 15px;
    line-height: 1.7
}

@media(max-width:767px) {

    header nav {
        position: fixed;
        top: 0;
        z-index: 2;
        display: inline-flex;
        min-width: 100%;
        padding: 70px 0% 0;
        max-height: 70px;
        overflow: hidden;
        transition: var(--trans);
        background: linear-gradient(rgb(55, 98, 129), rgb(16, 0, 31));
        justify-content: right
    }

    header nav ul {
        flex-direction: column;
        display: flex;
        overflow: hidden !important;
        align-items: flex-end
    }

    header nav ul li {
        padding: 10px 0;
        margin-right: 8px
    }

    header nav ul li a {
        padding: 5px;
        font-size: 20px;
    }

    header h2 {
        position: fixed;
        top: 20px;
        left: 0;
        z-index: 9;
        color: #fff
    }

    header .logo h2 span {
        color: inherit
    }

    .hidemenu {
        max-height: 375px !important
    }

    .bars {
        display: block !important
    }

    header {
        padding: 0
    }
}
